* {
  margin: 2px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  background-image: url(../assets/fondo.jpeg);
}

.grid__container {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: 0, 5fr fr fr 0, 3fr;
  grid-template-areas: "menu-nav   menu-nav    menu-nav" "cuerpo     cuerpo      cuerpo" "banner     banner      banner" "pie        pie         pie";
}

.menu-nav {
  grid-area: menu-nav;
}

.cuerpo {
  grid-area: cuerpo;
}

.banner {
  grid-area: banner;
}

.pie {
  grid-area: pie;
}

.menu-nav {
  position: fixed;
  top: 1px;
  width: 100%;
  margin-top: none;
  z-index: 1000;
}

.logo-navbar {
  width: 30px;
  margin-top: none;
}

.navbar-toggler-icon {
  background-color: #d9f057; /* Cambiar color de fondo al achicar */
  border: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 8px;
  border-radius: 4px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-item_dropdown {
  background-color: #888DA7;
  background-image: none;
  border-radius: 5px;
  animation: desvanecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes desvanecer {
  0% {
    opacity: 5%;
  }
  100% {
    opacity: 60%;
  }
}

.cuerpo {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

.logo-img {
  border-radius: 50%;
  width: 25%;
  border: 1px solid #888DA7;
  transition: width 2s;
}

.logo-img:hover {
  width: 35%;
}

.titulo-ini {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 3em;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  background-color: #d9f057;
  background-image: none;
  color: black;
  font-family: "Changa", sans-serif;
}
.titulo-card {
  height: 80px;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7DCFB6;
  background-image: none;
  font-size: 3em;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__imagen {
  width: 60%;
  padding: 50px;
  border-radius: 5px;
}
.card__texto {
  background-color: #d9f057;
  background-image: none;
  font-size: 2em;
  color: black;
  font-weight: 200;
  text-align: justify;
  margin-top: 5px;
  padding: 10px 200px 10px 200px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin-top: 0;
  font-size: 3em;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  background-image: url(../assets/banner.jpeg);
}

.boton-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-decoration: none;
}
.boton-whatsapp img {
  height: 50px;
  width: 50px;
  margin-top: 0;
  display: block;
  background-image: none;
}

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  padding: 20px 0;
  text-align: center;
}

.redes-sociales {
  margin-top: 10px;
  gap: 2px;
}
.redes-sociales .img-logo-redes {
  height: 30px;
  width: 30px;
  margin-top: none;
  margin: 0 10px 5px;
}

.instagram-button {
  border-color: #e4405f;
}

.twitter-button {
  border-color: #1da1f2;
}

/* Card Contacto*/
.container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888DA7;
  background-image: none;
  height: 450px;
  width: 600px;
  margin-top: 0;
  flex-direction: column;
  font-size: 1.5em;
  color: white;
  font-weight: 200;
  border-radius: 5px;
  row-gap: 20px;
  padding: 5px;
  margin-left: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.map-google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 450px;
  margin-top: 0;
  border-radius: 5px;
}

/*formulario incompleto*/
.formulario {
  background-color: #414F9E;
  background-image: none;
  padding: 20px;
  margin-left: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  border-radius: 5px;
}

.form-titulo {
  text-align: center;
  color: white;
  background-image: none;
}

form {
  text-align: left;
  background-image: none;
}

.campo {
  margin-bottom: 20px;
  background-image: none;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  background-image: none;
  color: white;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2em;
}

textarea {
  height: 100px;
}

.boton-enviar {
  text-align: center;
  background-color: #414F9E;
  background-image: none;
}

input[type=submit] {
  background-color: #d9f057;
  background-image: none;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type=submit]:hover {
  background-color: #888DA7;
  background-image: none;
}

@media (min-width: 577px) and (max-width: 992px) {
  * {
    font-size: 11px;
  }
  .cuerpo, .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .logo-img {
    width: 40%;
    transition: none;
  }
  .card__texto {
    padding: 5px 2px 5px 2px;
  }
  .card__imagen {
    width: 80%;
    padding: 10px;
  }
  .formulario {
    max-width: 100%;
    margin-left: 0;
  }
  .map-google {
    height: 300px;
    width: 100%;
    margin-top: none;
  }
}
@media (max-width: 576px) {
  * {
    font-size: 8px;
  }
  .cuerpo, .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .logo-img {
    width: 70%;
    transition: none;
  }
  .card__texto {
    padding: 5px 2px 5px 2px;
  }
  .card__imagen {
    width: 100%;
    padding: 0;
  }
  .banner {
    height: 100px;
    width: 100%;
    margin-top: 2px;
  }
  .formulario {
    max-width: 100%;
    margin-left: 0;
  }
  .container-map {
    height: 300px;
    width: 350px;
    margin-top: 2px;
  }
  .map-google {
    height: 280px;
    width: 100%;
    margin-top: none;
  }
}

/*# sourceMappingURL=main.css.map */
