 /* reset */
 *{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-image: url(/assets/fondo.jpeg);
 }

.menu-nav{
    position: fixed;
    top: 1px;
    width: 100%;
 }

.logo-nav{
    width: 25px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.logo-container{
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 25%;
    border: 2px solid black;
}

.titulo-ini{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Changa', sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-align: center;  
    background-color: #d9f057; background-image: none;
}

/*Pages*/
.titulo-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #7DCFB6; background-image: none;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
 }
 
 .card, .card p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #d9f057; background-image: none;
 }
 
 .card-img {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
 }

 .card p {
      font-size: 20px; color: black ;
      font-weight: 200;
      text-align: center;
}

.banner, .banner p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: url(../assets/banner.jpeg);
    text-align: center;
    font-size: 2em;
    font-weight: 400; color: white;
   
}

footer{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200
    
}

/*contacto*/

.card-contacto, .card-contacto a{
    font-size: 1.5em; color: white;
    font-weight: 200;
    background-color: #888DA7; background-image: none;
}
.map{
    background-color: #F0EC57; background-image: none;
}

