/* Card Contacto*/
.container-map{
    @include flex-centrado;
    @include relleno-gris;
    @include caja (450px, 600px, 0);
    flex-direction: column;
    font-size: 1.5em; color: white; 
    font-weight: 200;
    border-radius: 5px;
    row-gap: 20px;
    padding: 5px;
    margin-left: 10px;
    box-shadow: $sombra-caja;
}
.map-google{
    @include flex-centrado;
    @include caja (350px, 450px, 0);
    border-radius: 5px;
}
.card__imagen__contacto{
    @include flex-centrado;
    width: 35%;
    flex-direction: column;
    border-radius: 5px;
    row-gap: 20px;
    margin-left: 10px;
}
/*formulario incompleto*/
.formulario {
    @include relleno-azul;
    padding: 20px;
    margin-left: 20px;
    box-shadow: $sombra-caja;
    max-width: 400px;
    border-radius: 5px;
}
.form-titulo {
    text-align: center;
    color: white; background-image: none;
}

form {
    text-align: left;
    background-image: none;
}

.campo {
    margin-bottom: 20px;
    background-image: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    background-image: none;
    color: white;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px;
    font-size: 1.2em;
}

textarea {
    height: 100px;
}

.boton-enviar {
    text-align: center;
    @include relleno-azul;   
}

input[type="submit"] {
    @include relleno-lima;
    color: black ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow: $sombra-boton;
}

input[type="submit"]:hover {
    @include relleno-gris;
}