.menu-nav{
    position: fixed;
    top: 1px;
    @include caja-titulo (100%, none);
    z-index: 1000;
}
.logo-navbar{
    @include caja-titulo (30px, none);
}
.navbar-toggler-icon {
    background-color: $lima; /* Cambiar color de fondo al achicar */
    border: black;
    box-shadow: $sombra-caja ;
    padding: 5px 8px;
    border-radius: 4px;
}
