@media (min-width: 577px) and (max-width: 992px) {
    *{font-size: 11px;
    } 
    .cuerpo, .pie {
        @include flex-centrado;
        flex-wrap: wrap;
        width: 100%;
    }
    .logo-img{
        width: 40%;
    }
    .card__texto{        
        padding: 5px 2px 5px 2px;
    }
    .card__imagen{
        width: 80%;
        padding: 10px;
    }
    .formulario {
        max-width: 100%; 
        margin-left: 0; 
    }
    .map-google {
       @include caja (300px, 100%, none);
    }
}

@media (max-width: 576px) {
    *{font-size: 8px;
    }
    .cuerpo, .pie {
        @include flex-centrado;
        flex-wrap: wrap;
        width: 100%;
    }
    .logo-img{
        width: 70%;
    }
    .card__texto{        
        padding: 5px 2px 5px 2px;
    }
    .card__imagen{
        width: 100%;
        padding: 0;
    }
    .banner{
        @include caja (100px, 100%, 2px)
    }
    .formulario {
        max-width: 100%; 
        margin-left: 0; 
    }
    .container-map{
        @include caja (300px, 350px, 2px);
        
    }
    .map-google {
        @include caja (280px, 100%, none);
    }
}
