.boton-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: none;
    padding: 10px;
    border-radius: 50%;
    box-shadow: $sombra-boton;
    z-index: 1000; 
    text-decoration: none;
    & img {
        @include caja (50px, 50px, 0);
        display: block;
        background-image: none;
    }
}

.pie{
    @include flex-centrado;
    font-weight: 200;
    padding: 20px 0;
    text-align: center;
}
 
.redes-sociales {
    margin-top: 10px;
    gap: 2px;
    & .img-logo-redes {
    @include caja (30px, 30px, none);
    margin: 0 10px 5px;
    }
}
.instagram-button {
    border-color: #e4405f;
}

.twitter-button {
    border-color: #1da1f2; 
}
